{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
    <h1 style="margin-top:1em">Play cards!</h1>
    <div class="full-deck">
    {% for card in cardDeck %}
        {% if card[6:7] > 52 and card[6:7] < 84 %}
            <div class="deck-card" style="color: red">{{ card |raw }}</div>
        {% else %}
            <div class="deck-card" >{{ card |raw }}</div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}