{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
    <h1 style="margin-top:1em">Play cards!</h1>
    <figure class="center" >
        <img src="{{ asset('img/aces.jpg') }}" width=400px alt="laugh">
    </figure>
{% endblock %}