{% extends 'adventure/base.html.twig' %}

{% block title %}Adventuregame{% endblock %}

{% block body %}
<div class="books" >

<article class="index">
<h1>Baka en tårta!</h1>

<p>Äventyrsspel där uppgiften är att baka en tårta. Samla saker du kan behöva i korgen.
 Du får högst ha 6 saker med dig. Du samlar sakerna genom att klicka på dem. De 
saker som finns i "korgen" kan läggas tillbaka genom att du klickar på dem. Ibland kan det 
finnas ett krav på vad som ska finnas i korgen när du "plockar upp" en sak.</p>
            <form method="post" action=''>
                <input type="submit" name="do_it" value="Starta spelet!">
            </form>
</article>
</div>
{% endblock %}
