{% extends 'adventure/base.html.twig' %}

{% block title %}Adventuregame{% endblock %}

{% block body %}
<div class="books" >

<article class="index">
<h1>Baka en tårta!</h1>

<p>Äventyrsspel där uppgiften är att baka en tårta.</p>
<ul>
    <li>Samla saker du kan behöva i korgen.</li>
    <li>Du får högst ha 6 saker med dig.</li>
    <li>Du samlar sakerna genom att klicka på dem.</li> 
    <li>De saker som finns i "korgen" kan läggas tillbaka genom att du klickar på dem.</li>
    <li>Ibland kan det finnas ett krav på vad som behöver finnas i korgen när du "plockar upp" en sak, 
    ett villkor.
    Det kommer då upp ett meddelande längst ner på sidan.</li>
    <li>När du har de 5 rätta ingredienserna i korgen är du klar.</li>
</ul>
<h6>Lycka till!</h6>
<form method="post" action=''>
    <input type="submit" name="do_it" value="Starta spelet!">
</form>
<button id="myButton">
    Fusklapp
</button>
        <div style="clear:both" ></div>

<div id="myPopup" class="popup">
    <div class="popup-content">
        <h1 >
            Fusklapp!
        </h1>
        <p>1. Ta lampan i vardagsrummet.</p>
        <p>2. Gå till skafferiet och ta socker, mjöl och sax.</p>
        <p>3. Klicka på lampan så att den försvinner.</p>
        <p>4. Gå till trädgården, hämta stegen och ta ägg och jordgubbar.</p>
        <p>5. Lämna tillbaka stege och sax.</p>
        <p>6. Gå till köket, ta vispen och grädden.</p>
        <h1>Klar!</h1>
        <button id="closePopup">
            Stäng
        </button>
    </div>
</div>

<script>
    myButton.addEventListener("click", function () {
        myPopup.classList.add("show");
    });
    closePopup.addEventListener("click", function () {
        myPopup.classList.remove("show");
    });
    window.addEventListener("click", function (event) {
        if (event.target == myPopup) {
            myPopup.classList.remove("show");
        }
    });
</script>

</article>

</div>
{% endblock %}
