{% extends "adventure/base.html.twig" %}

{% block title %}Ready{% endblock %}

{% block body %}
<div class="ready" style="background-image: url({{ asset('img/baloons.jpg')}})"; width: 50%;>

    <h1 style="margin-top:0px
    ">Grattis, du klarade spelet!</h1>
    <figure class="center">
        <img src="{{ asset('img/strawberry-cake.jpg')}}" alt="cake" width="300px">
    </figure>
    <form method="get" action='{{ path( 'project_get')}}'>
        <input type="submit" name="do_it" value="Gå till startsidan!">
    </form>
</div>
{% endblock %}