{% extends "adventure/base.html.twig" %}

{% block title %}Ready{% endblock %}

{% block body %}
<div class="lucky" style="background-image: url({{asset('img/smiley.jpg')}})">
    <h1 style="margin-top:1em">Du klarade spelet!</h1>
</div>
{% endblock %}