.one-card {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 210px;
}

.card {
    display: flex;
    width: 150px;
    height: 210px;
    border-radius: 10px;
    font-size: 180px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 2px rgb(119, 119, 119);
    line-height: 70px;
    justify-content: center;
    align-items: center;
}

.full-deck {
    display: flex;
    width: 710px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 2em;

}

.hand-deck {
    display: flex;
    width: 500px;
    justify-content:space-around;
    gap: 10px;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
}

.hand-card {
    display: flex;
    width: 75px;
    height: 105px;
    border-radius: 8px;
    font-size: 90px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 2px rgb(119, 119, 119);
    line-height: 70px;
    justify-content: center;
    align-items: center;
}

.deck-card {
    display: flex;
    width: 50px;
    height: 70px;
    border-radius: 5px;
    font-size: 60px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 2px rgb(119, 119, 119);
    line-height: 70px;
    justify-content: center;
    align-items: center;
}
.flash-win {
    padding: 0.5em;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash-lose {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-lose:before {
    content: "⚠";
}

.flash-lose {
    padding: 0.5em;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

input[type=submit] {
    background-color: $background-alternative-color;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: rgb(62, 62, 62) 3px 3px;
}

.card-image {
    border-right: 1px solid #ccc;
    padding-left: 3em;
    padding-top: 24px;
    max-width: 400px;
    img {
        border-radius: 10px;
    }
}
