/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: $background-alternative-color;
    color: $font-alternative-color;
    min-height: 50px;

    .social a {
        color: $font-alternative-color;
        padding: 0.3em;
        text-decoration: none !important;
        font-size: 2rem;
    }   
}
