/* game */

.game-body {
    background-color: rgb(58, 76, 70);
    margin: 0px;
    padding-left: 1em;
    padding-right: 1em;
}
.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(137, 181, 168);
}

/* Title */

.game-site-title {
    padding: 2em 2em 2em 1em;
    font-family: 'Acme', sans-serif;
    font-size: 2em;
    color: $font-alternative-color;
}
.game-nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.game-nav ul li {
    margin: 1em;
    padding: 0.5em;
    background-color: rgb(58, 76, 70);
    border-radius: 7px;
    a {
        color: whitesmoke;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Acme&family=Mogra&family=Rokkitt&display=swap');
.game-body {
    font-family: 'Rokkitt', serif;
    h1,
    h6 {
        font-family: 'Mogra', cursive;
    }
}

.game-footer {
    background-color:  rgb(137, 181, 168);
    background-image: linear-gradient(rgb(137, 181, 168),rgb(58, 76, 70), rgb(58, 76, 70),rgb(137, 181, 168));
    display: flex;
    justify-content:space-between;
    padding: 1em;
    color: $font-alternative-color;
    min-height: 50px;
}

.room {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 700px;

    .item {
            @for $i from 1 through 7 {
            @for $j from 1 through 9 {
                &-#{$i}-#{$j} {
                    grid-column: #{$j} / (#{$j+1});
                    grid-row: #{$i} / (#{$i+1});
                    justify-self: center;
                    align-self: center;
                    a {
                        text-decoration: none;
                        color: white;

                    }          
                }
            }
        }
       
    
    }
    .bin {
        justify-self: center;
        align-self: end;
        grid-column: 1 / span 2;
        grid-row: 6 / 8;
        background-color: rgb(58, 76, 70);
        min-height: 8em;
        width: 100%;
    }      
}

.ready {
    min-height: 600px;
    margin-top: 0px;
    h1 {
        text-align: center;
        padding: 1em;
    }
    figure {
        img {
            box-shadow: 3px 3px 2px rgb(119, 119, 119);
            border-radius: 10px;

        }
    }
    form {
        text-align: center;
        background-color: rgb(119, 119, 119);
    }  
}

.api {
    padding: 1em;
    min-height: 600px;
    color: $font-alternative-color;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    a {
        color:$font-alternative-color;
    }
    form input,
    select {
        background-color: rgb(119, 119, 119);
        padding: 10px 20px;
        border-radius: 8px;
        border: dotted rgb(58, 76, 70);
        margin: 1em;
    }
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
#myButton {
    background-color: $background-alternative-color;
    float: right;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: rgb(62, 62, 62) 3px 3px;
    color: whitesmoke;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
