$font-color: #363535;
$font-alternative-color: rgb(255, 255, 255);
$accent-color: #9ca69e;
$background-color: #c4bab7;
$background-alternative-color: rgb(123, 99, 103);
$background-alternative-2-color: rgb(255, 255, 255);
$base-line-height: 1.4;
$base-font-size: 1.1em;
$magic-number: $base-line-height * $base-font-size;
$shadow-color: rgb(189, 187, 187);
$link-color: rgb(0, 0, 255);
$link-hover-color: #800080;
$link-visited-color: rgb(54, 53, 53);
