{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}

<h1>Welcome to the library!</h1>

<p>What do you want to do?</p>
<ul>
    <li><a href="{{ path('library_create_get') }}">Add a new book in library</a>
    <li><a href="{{ path('library_show_all') }}">Show all books in library</a>
</ul>
{% endblock %}
